@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@media only screen and (min-width: 1024px) {
  * {
    font-size: 24px;
    color: #00494d;
    font-family: "Space Mono", monospace;
  }
  body {
    height: 100vh;
    background-color: #c5e4e7;
    margin: 0;
  }
  button {
    text-decoration: none;
    outline: none;
    border: 0;
    cursor: pointer;
    border-radius: 0.25rem;
  }
  button:hover:enabled {
    background-color: #c5e4e7 !important;
    color: #00494d !important;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    padding-right: 10px;
  }
  input {
    text-decoration: none;
    outline: none;
    border: 2px solid white;
    padding: 0;
    background-color: #f4fafa;
    font-size: 16px;
    width: 100%;
    height: 1.5rem;
    font-weight: 700;
    text-align: right;
    cursor: pointer;
    caret-color: #26c0ab;
    border-radius: 0.25rem;
  }
  input::-webkit-input-placeholder {
    font-size: 16px;
    text-align: end;
    padding-right: 2px;
  }
  input:-ms-input-placeholder {
    font-size: 16px;
    text-align: end;
    padding-right: 2px;
  }
  input::-ms-input-placeholder {
    font-size: 16px;
    text-align: end;
    padding-right: 2px;
  }
  input::placeholder {
    font-size: 16px;
    text-align: end;
    padding-right: 2px;
  }
  input:focus {
    border: 1px solid #26c0ab;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .logo {
    margin: 0 0 2rem 0;
  }
  .card {
    background-color: white;
    padding: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2;
        grid-template-columns: 2;
    -ms-grid-rows: 1;
        grid-template-rows: 1;
    border-radius: 0.75rem;
  }
  .card__form {
    margin-right: 2rem;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .card__form p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
  }
  .card__form .txtBill {
    margin-top: 10px;
  }
  .card__form input {
    margin-bottom: 1rem;
  }
  .card__form .bill {
    background-image: url("images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: 5% center;
  }
  .card__form .ppl_number {
    background-image: url("images/icon-person.svg");
    background-repeat: no-repeat;
    background-position: 5% center;
  }
  .card__form .form__tip {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3;
        grid-template-columns: 3;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    gap: 10px;
  }
  .card__form .form__tip button {
    width: 4rem;
    height: 1.5rem;
    color: #f4fafa;
    background-color: #00494d;
  }
  .card__form .ppl__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card__form .txtError {
    color: red;
    font-size: 14px;
    text-align: center;
  }
  .card__form .btn5 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .card__form .btn10 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .card__form .btn15 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .card__form .btn25 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .card__form .btn50 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .card__form .tip {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
    width: calc(4rem - 10px);
  }
  .card__form .tip::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 700;
    text-align: end;
    color: #3d6666;
  }
  .card__form .tip:-ms-input-placeholder {
    font-size: 20px;
    font-weight: 700;
    text-align: end;
    color: #3d6666;
  }
  .card__form .tip::-ms-input-placeholder {
    font-size: 20px;
    font-weight: 700;
    text-align: end;
    color: #3d6666;
  }
  .card__form .tip::placeholder {
    font-size: 20px;
    font-weight: 700;
    text-align: end;
    color: #3d6666;
  }
  .card__info {
    -ms-grid-column: 2;
    grid-column: 2;
    background-color: #00494d;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2;
        grid-template-columns: 2;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
  }
  .card__info p {
    margin: 0;
    font-size: 16px;
    color: white;
  }
  .card__info p span {
    color: #7f9c9f;
    font-size: 16px;
    margin: 0;
  }
  .card__info .amount {
    font-size: 36px;
    margin-left: 4rem;
    color: #26c0ab;
  }
  .card__info .tipAmount {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card__info .totalAmount {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .card__info .tiptxt {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card__info .totaltxt {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .card__info button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3;
    height: 1.5rem;
    width: 90%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: #26c0ab;
  }
  .card__info button:disabled {
    -webkit-filter: opacity(0.3);
            filter: opacity(0.3);
    cursor: unset;
  }
  .hidden {
    visibility: hidden;
  }
  .selected {
    background-color: #26c0ab !important;
    color: #00494d !important;
  }
}

@media only screen and (max-width: 1023px) {
  * {
    font-size: 24px;
    color: #00494d;
    font-family: "Space Mono", monospace;
  }
  body {
    background-color: #c5e4e7;
    margin: 0;
  }
  button {
    text-decoration: none;
    outline: none;
    border: 0;
    cursor: pointer;
    border-radius: 0.25rem;
  }
  button:hover:enabled {
    background-color: #c5e4e7 !important;
    color: #00494d !important;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    padding-right: 10px;
  }
  input {
    text-decoration: none;
    outline: none;
    border: 2px solid white;
    padding: 0;
    background-color: #f4fafa;
    font-size: 16px;
    width: 98%;
    height: 1.5rem;
    font-weight: 700;
    text-align: right;
    cursor: pointer;
    caret-color: #26c0ab;
    border-radius: 0.25rem;
  }
  input::-webkit-input-placeholder {
    font-size: 16px;
    text-align: end;
    padding-right: 2px;
  }
  input:-ms-input-placeholder {
    font-size: 16px;
    text-align: end;
    padding-right: 2px;
  }
  input::-ms-input-placeholder {
    font-size: 16px;
    text-align: end;
    padding-right: 2px;
  }
  input::placeholder {
    font-size: 16px;
    text-align: end;
    padding-right: 2px;
  }
  input:focus {
    border: 1px solid #26c0ab;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .logo {
    margin: 2rem 0 2rem 0;
  }
  .card {
    background-color: white;
    padding: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    border-radius: 0.75rem;
  }
  .card__form {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card__form p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
  }
  .card__form .txtBill {
    margin-top: 10px;
  }
  .card__form input {
    margin-bottom: 1rem;
  }
  .card__form .bill {
    background-image: url("images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: 5% center;
  }
  .card__form .ppl_number {
    background-image: url("images/icon-person.svg");
    background-repeat: no-repeat;
    background-position: 5% center;
  }
  .card__form .form__tip {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2;
        grid-template-columns: 2;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
    gap: 10px;
  }
  .card__form .form__tip button {
    width: 5rem;
    height: 1.5rem;
    color: #f4fafa;
    background-color: #00494d;
  }
  .card__form .ppl__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card__form .txtError {
    color: red;
    font-size: 14px;
    text-align: center;
  }
  .card__form .btn5 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .card__form .btn10 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .card__form .btn15 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .card__form .btn25 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .card__form .btn50 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .card__form .tip {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
    width: calc(5rem - 10px);
  }
  .card__form .tip::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #3d6666;
  }
  .card__form .tip:-ms-input-placeholder {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #3d6666;
  }
  .card__form .tip::-ms-input-placeholder {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #3d6666;
  }
  .card__form .tip::placeholder {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #3d6666;
  }
  .card__info {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    background-color: #00494d;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2;
        grid-template-columns: 2;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
  }
  .card__info p {
    margin: 0;
    font-size: 16px;
    color: white;
  }
  .card__info p span {
    color: #7f9c9f;
    font-size: 14px;
    margin: 0;
  }
  .card__info .amount {
    font-size: 36px;
    margin-left: 3rem;
    color: #26c0ab;
  }
  .card__info .tipAmount {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card__info .totalAmount {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .card__info .tiptxt {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card__info .totaltxt {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .card__info button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3;
    margin-top: 1rem;
    height: 1.5rem;
    width: 90%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: #26c0ab;
  }
  .card__info button:disabled {
    -webkit-filter: opacity(0.3);
            filter: opacity(0.3);
    cursor: unset;
  }
  .hidden {
    visibility: hidden;
  }
  .selected {
    background-color: #26c0ab !important;
    color: #00494d !important;
  }
}
/*# sourceMappingURL=style.css.map */