* {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    margin: 2rem;
  }
  .title h1 {
    color: #969696;
    font-weight: 300;
    font-size: 42px;
    margin: 0;
  }
  .title h1 span {
    font-weight: 700;
    font-size: 42px;
    color: black;
  }
  .subtitle {
    margin-bottom: 1rem;
  }
  .subtitle h2 {
    font-weight: 300;
  }
  .in_email {
    text-decoration: none;
    border: 1px solid #c2d3ff;
    outline: 0;
    padding: 0.5rem 6rem 0.5rem 1rem;
    border-radius: 1rem;
  }
  .in_email::-webkit-input-placeholder {
    color: #c2d3ff;
    font-size: 15px;
  }
  .in_email:-ms-input-placeholder {
    color: #c2d3ff;
    font-size: 15px;
  }
  .in_email::-ms-input-placeholder {
    color: #c2d3ff;
    font-size: 15px;
  }
  .in_email::placeholder {
    color: #c2d3ff;
    font-size: 15px;
  }
  .in_email:focus {
    border: 1px solid #969696;
  }
  .errorMsg {
    color: #ff5263;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
    visibility: hidden;
  }
  .btn_notify {
    margin-left: 10px;
    outline: none;
    border: 0;
    text-decoration: none;
    background-color: #4f7df3;
    color: white;
    font-size: 15px;
    padding: 0.7rem 2.4rem 0.7rem 2.4rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(79, 125, 243, 0.3);
            box-shadow: 0px 5px 10px 0px rgba(79, 125, 243, 0.3);
  }
  .btn_notify:hover {
    -webkit-filter: brightness(1.2);
            filter: brightness(1.2);
    cursor: pointer;
  }
  form {
    margin-bottom: 3.5rem;
  }
  .mainImage {
    width: 40%;
    margin-bottom: 3.5rem;
  }
  .img_main {
    width: 100%;
  }
  .copy {
    color: #969696;
    font-size: 14px;
    margin: 1rem;
  }
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .socials a {
    margin: 0px 5px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #c2d3ff;
    height: 12px;
    width: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .socials a i {
    color: #4f7df3;
    font-size: 16px;
  }
  a:hover {
    background-color: #4f7df3;
    color: white;
  }
  a:hover i {
    color: white;
  }
}

@media only screen and (max-width: 1023px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    margin: 2rem 0;
  }
  .title h1 {
    color: #969696;
    font-weight: 300;
    font-size: 24px;
    margin: 0;
  }
  .title h1 span {
    font-weight: 700;
    font-size: 24px;
    color: black;
  }
  .subtitle {
    margin-bottom: 1rem;
  }
  .subtitle h2 {
    font-weight: 300;
    font-size: 16px;
  }
  form {
    margin-bottom: 4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(1px, auto);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1px;
  }
  .in_email {
    -ms-grid-row: 1;
    grid-row: 1;
    text-decoration: none;
    border: 1px solid #c2d3ff;
    outline: 0;
    padding: 0.5rem 4rem 0.5rem 1rem;
    border-radius: 1rem;
  }
  .in_email::-webkit-input-placeholder {
    color: #c2d3ff;
    font-size: 15px;
  }
  .in_email:-ms-input-placeholder {
    color: #c2d3ff;
    font-size: 15px;
  }
  .in_email::-ms-input-placeholder {
    color: #c2d3ff;
    font-size: 15px;
  }
  .in_email::placeholder {
    color: #c2d3ff;
    font-size: 15px;
  }
  .in_email:focus {
    border: 1px solid #969696;
  }
  .errorMsg {
    color: #ff5263;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 2px;
    visibility: hidden;
    text-align: center;
  }
  .btn_notify {
    -ms-grid-row: 3;
    grid-row: 3;
    outline: none;
    border: 0;
    text-decoration: none;
    background-color: #4f7df3;
    color: white;
    font-size: 15px;
    padding: 0.7rem 7rem 0.7rem 7rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(79, 125, 243, 0.3);
            box-shadow: 0px 5px 10px 0px rgba(79, 125, 243, 0.3);
  }
  .btn_notify:hover {
    -webkit-filter: brightness(1.2);
            filter: brightness(1.2);
    cursor: pointer;
  }
  .mainImage {
    width: 80%;
    margin-bottom: 4rem;
  }
  .img_main {
    width: 100%;
  }
  .copy {
    color: #969696;
    font-size: 14px;
    margin: 1rem;
  }
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .socials a {
    margin: 0px 5px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #c2d3ff;
    height: 12px;
    width: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .socials a i {
    color: #4f7df3;
    font-size: 16px;
  }
  a:hover {
    background-color: #4f7df3;
    color: white;
  }
  a:hover i {
    color: white;
  }
}

.visibilityTrue {
  visibility: visible !important;
}

.errorBorder {
  border: 1px solid #ff5263;
}
/*# sourceMappingURL=style.css.map */